<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<form class="via-form-send login add" method="POST" action="/user/join/">
    <fieldset>
        <legend>Add new member</legend>
        <table>
            <tr><th>Email :</th><td><input type="text" name="email" tabindex="1" style="width: 200px;" ></td></tr>
            <tr><th>User name :</th><td><input type="text" name="user_name" tabindex="2"></td></tr>
            <tr><th>Password :</th><td><input type="password" name="password" tabindex="3"></td></tr>
            <tr><th></th><td><select name="member_type" tabindex="4">
                                <option value="">Member Type&nbsp;&nbsp;&nbsp;</option>
                                <option value="1">PG</option>
                                <option value="2">PL</option>
                                <option value="3">PM</option>
                                <option value="4">COM</option>
                                <option value="99">BSE</option>
                             </select></td></tr>
            <tr><th></th><td><button tabindex="5">Add</button></td></tr>
        </table>
    </fieldset>
</form>